.divLoading {
    
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    display: block;
    margin-right: auto;
    margin-left: auto;

}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 



.uno{
  background-image: url('https://i.pinimg.com/originals/b8/3c/0c/b83c0cb9c92063c293b95e23281aef1b.jpg');
  padding-top: 0%;
  background-size: cover;
  padding: 40px;
}

.div{
  display:inline;
  color: aliceblue;
}



  
 
