.divOne {

  background-image: url('https://i.pinimg.com/originals/b8/3c/0c/b83c0cb9c92063c293b95e23281aef1b.jpg');
  padding-top: 0%;
  background-size: 100% 100%;



}

.divCards {
  display: inline-block;

}


.selects {
  width: 98%;
  height: 35%;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;


}

.select {
  width: 100px;
  background-color: rgba(119, 175, 212, 0.529);
  border-color: transparent;
  border-width: 4px;
  color: aliceblue;
  font-weight: bold;
  font-size: 13px;


}



.divLoading {

  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  display: block;
  margin-right: auto;
  margin-left: auto;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.act {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;

  background-color: rgba(119, 175, 212, 0.529);
  font-size: 15px;
  font-weight: bold;
  display: flex;
  margin-top: auto;
  padding: 5px;
  justify-content: flex-end;
  align-content: center;
  height: 20px;
}

.uno {
  color: aliceblue;
  font-weight: bold;
  text-decoration: dotted;
  font-size: 30px;
  height: 100%;
  padding: 80px;
}

.dog{
  color: aliceblue;
}