.ima {
    display:inline-flex;
    margin-right: 1000px;
    padding-top: 1px;
    text-align: center;
}

.create {
    background-color: transparent;
    border: 4px solid #cfe527ce;
    border-radius: 10%;
    width: 750px;
    height: 400px;
    padding: 20px;
    margin-left: 600px;


}

.divButtonOne {
    border-radius: 60px;
    display: inline-flex;
    align-items: unset;
    background-color: yellow;
    text-decoration: transparent;
    color: black;

}

.divButtontwo {
    border-radius: 60px;
    display: inline-flex;
    align-items: flex-start;

    background-color: yellow;
    text-decoration: transparent;
    color: black;

}

.name {
    display: inline-flex;
    justify-content: left;
    margin-right: 380px;

}

.image {
    display: inline-flex;
    justify-content: right;
    margin-right: 70px;

}

.tem{
   
   
    flex-direction:row-reverse;
}