.divInit {
    margin: 0;
    background-image: url('https://thumbs.dreamstime.com/b/collage-creativo-de-diferentes-razas-perros-sobre-fondo-colorido-moderno-mascotas-j%C3%B3venes-adorables-o-parecen-felices-aislados-en-196235565.jpg');
    width: 100mh;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
}

.divLetraBtn {
    display: flex;
    flex-direction: column;
    padding-top: 380px;
    padding-left: 675px;
}

.texto {
    color: rgb(20, 188, 214);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    padding-bottom: 16px;
    text-shadow: 0 0 100px rgb(250, 250, 247), 0 0 15px #fdfdfb, 0 0 40px #fbfbfa;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.botonA {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    color: rgb(242, 247, 249);
    text-shadow: 0 0 80px rgb(244, 236, 91), 0 0 15px #fceb2d, 0 0 40px #e5f530;
    background-color: rgba(241, 244, 82, 0.686);
    border-radius: 40px;
    border-color: transparent;
    cursor: pointer;
    padding: 8px;
    margin-block-start: auto;
  }

.botonA:hover{
    transform: translate(-15px);
}